* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F1F4F9;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Besley', sans-serif;
}

.max-width {
    max-width: 1300px;
    padding: 0 8.33%;
    margin: auto;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #F1F4F9;
    transition: 0.3s;
}

.header .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    padding: 20px 0;
}

.header .logo a {
    font-family: 'Besley', serif;
    font-size: 2em;
    letter-spacing: 1px;
    color: #000;
    text-decoration: none;
}

.header .nav-menu {
    list-style: none;
    text-align: center;
}

.header .nav-menu li {
    display: inline-block;
}

.header .nav-menu .nav-link {
    font-size: 1.25em;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    margin-left: 20px;
    padding: 20px 0;
}

.header .link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

main {
    padding-top: 100px;
}

.form form {
    display: flex;
    padding: 5px 0;
    flex-direction: column;
}

form .form-input {
    width: 100%;
    margin: 1px 0 5px 0;
    border: none;
    border-radius: 5px;
    background-color: white;
}

form .first{
    background-color: transparent;
}

.content {
    flex-direction: column;
}

input, textarea{
    font-family: 'Besley', serif;
}

textarea {
    height: 300px;
}

button {
    font-family: 'Besley', serif;
    padding: 5px 30px;
    margin: 10px;
    border-radius: 50px;
    border: none;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.5s ease;
    width: 100px;
}

button a {
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: black;
}

button:hover {
    color: black;
    background-color: #a9caff;
}