/* Base/Default */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F1F4F9;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Besley', sans-serif;
}

.max-width {
    max-width: 1300px;
    padding: 0 8.33%;
    margin: auto;
}

/* Header */

.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #F1F4F9;
    transition: 0.3s;
}

.header .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    padding: 20px 0;
}

.header .logo a {
    font-family: 'Besley', serif;
    font-size: 2em;
    letter-spacing: 1px;
    color: #000;
    text-decoration: none;
}

.header .nav-menu {
    list-style: none;
    text-align: center;
}

.header .nav-menu li {
    display: inline-block;
}

.header .nav-menu .nav-link {
    font-size: 1.25em;
    text-decoration: none;
    color: #000;
}

/* Main */

.flex-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}


.flex-container .menu-container{
    display: flex;
    height: 200px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000;
}

.menu-container {
    cursor: pointer;
}

.menu-container .left {
    width: 50%;
}

.menu-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.menu-container .right {
    width: 50%;
    background-color: white;
    border-radius: 0 10px 10px 0;
}

h2 {
    background: none;
    margin: 20px 20px 10px 20px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p {
    background: none;
    margin: 0 20px;
    line-height: 1.5em;
    height: 4.5em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin-bottom: 10px;
}

.small {
    padding-top: 10px;
    font-size: small;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}